.question-container {
    margin-bottom: 20px;
}

.option-container {
    margin: 8px;
    display: flex; /* Use flexbox */
    align-items: center;
}

.option-container input {
    margin-bottom: 8px; 
    margin-right: 8px;
}